.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  width: 1440px;
  height: 6709px;
  position: static;
}
.desktop-1 {
  background: #ffffff;
  width: 1440px;
  height: 6709px;
  position: absolute;
  overflow: hidden;
}
.rectangle-1 {
  background: linear-gradient(
    180deg,
    rgba(137, 168, 248, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 1080px;
  height: 99px;
  position: absolute;
  left: 180px;
  top: 11px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  left: 357px;
  top: 11px;
  width: 1008px;
  height: 67px;
}
.rectangle-2 {
  border-radius: 195px;
  width: 101px;
  height: 99px;
  position: absolute;
  left: 231px;
  top: 11px;
}
.rectangle-4 {
  background: #d9d9d9;
  width: 640px;
  height: 364px;
  position: absolute;
  left: 180px;
  top: 252px;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 205px;
  top: 271px;
  width: 590px;
  height: 328px;
}
.rectangle-5 {
  width: 420px;
  height: 364px;
  position: absolute;
  left: 840px;
  top: 252px;
}
.rectangle-6 {
  width: 420px;
  height: 331px;
  position: absolute;
  left: 179px;
  top: 633px;
}
.rectangle-7 {
  background: #d9d9d9;
  width: 640px;
  height: 995px;
  position: absolute;
  left: 620px;
  top: 633px;
}
._31-81-959-18000-505-1943-2 {
  text-align: left;
  position: absolute;
  left: 647px;
  top: 656px;
  width: 595px;
  height: 972px;
}
._31-81-959-18000-505-1943-2-span {
  color: #0036c2;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
}
._31-81-959-18000-505-1943-2-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 48px;
  height: 0px;
  position: absolute;
  left: 179px;
  top: 116px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-8 {
  background: #d9d9d9;
  width: 420px;
  height: 331px;
  position: absolute;
  left: 179px;
  top: 981px;
}
.rectangle-10 {
  width: 420px;
  height: 299px;
  position: absolute;
  left: 180px;
  top: 1329px;
}
.rectangle-9 {
  width: 420px;
  height: 331px;
  position: absolute;
  left: 179px;
  top: 981px;
}
.rectangle-11 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 640px;
  height: 911px;
  position: absolute;
  left: 180px;
  top: 1756px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 187px;
  top: 1756px;
  width: 619px;
  height: 922px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 840px;
  top: 1756px;
  width: 416px;
  height: 909px;
}
.rectangle-12 {
  background: #e3d2ff;
  width: 880px;
  height: 86px;
  position: absolute;
  left: 180px;
  top: 2827px;
}
.div5 {
  color: #0036c2;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  left: 191px;
  top: 2827px;
  width: 731px;
  height: 80px;
}
.rectangle-13 {
  background: #d9d9d9;
  width: 1075px;
  height: 98px;
  position: absolute;
  left: 181px;
  top: 2957px;
}
._8-1943 {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 181px;
  top: 2963px;
  width: 1079px;
  height: 92px;
}
.rectangle-14 {
  background: #e3d2ff;
  width: 639px;
  height: 84px;
  position: absolute;
  left: 617px;
  top: 3237px;
}
.div6 {
  color: #0036c2;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  left: 633px;
  top: 3237px;
  width: 610px;
  height: 47px;
}
.rectangle-15 {
  background: #d9d9d9;
  width: 1075px;
  height: 140px;
  position: absolute;
  left: 181px;
  top: 3355px;
}
._152900-47-2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 193px;
  top: 3355px;
  width: 1050px;
  height: 140px;
}
.rectangle-16 {
  background: #e3d2ff;
  width: 659px;
  height: 86px;
  position: absolute;
  left: 181px;
  top: 3617px;
}
.div7 {
  color: #0036c2;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  left: 193px;
  top: 3625px;
  width: 536px;
  height: 56px;
}
.rectangle-17 {
  width: 1073px;
  height: 690px;
  position: absolute;
  left: 183px;
  top: 3765px;
}
.rectangle-18 {
  width: 1073px;
  height: 690px;
  position: absolute;
  left: 183px;
  top: 4497px;
}
.rectangle-19 {
  width: 1073px;
  height: 690px;
  position: absolute;
  left: 183px;
  top: 5229px;
}
.rectangle-20 {
  width: 1073px;
  height: 690px;
  position: absolute;
  left: 187px;
  top: 5961px;
}
